#root {
    --theme-bg-primary: #242424;
    --theme-bg-secondary: #383838;

    --theme-canvas-primary: #323136;
    --theme-text-primary: #fff;
    --theme-border-solid: #4b4953;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    height: 100dvh;
    background-color: var(--theme-bg-primary);
    color: var(--theme-text-primary);
}

header {
    text-align: center;
}

h1,
h2 {
    margin: 0;
}

#canvas__main {
    display: block;
    aspect-ratio: 1/1;
    background-color: var(--theme-canvas-primary);
    border: solid 1px var(--theme-border-solid);
    border-radius: 8px;
    width: min(80dvh, 80dvw);
    height: min(80dvw, 80dvh);
    cursor: pointer;
}

.time-controller__section {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}

.time-controller__section>* {
    align-content: center;
    margin: 0 10px;
}

.time-controller__bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}

.button {
    border-radius: 8px;
    border: solid 1px var(--theme-border-solid);
    padding: 3px;
    background-color: var(--theme-bg-secondary);
    user-select: none;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
}