#root {
    --theme-bg-primary: #242424;
    --theme-canvas-primary: #323136;
    --theme-text-primary: #fff;
    --theme-border-solid: #4b4953;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    height: 100dvh;
    background-color: var(--theme-bg-primary);
    color: var(--theme-text-primary);
}

header {
    text-align: center;
}

h1 {
    margin: 0;
}

#canvas__main {
    display: block;
    aspect-ratio: 1/1;
    background-color: var(--theme-canvas-primary);
    border: solid 1px var(--theme-border-solid);
    border-radius: 8px;
    width: min(80dvh, 80dvw);
    height: min(80dvw, 80dvh);
}

main {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
}